#row_form{
    background-color: #313133;
    color: white;
}

#search_form_title{
    text-align: center;
    /* font-style: italic; */
    width: 100%;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 10px;
}

.img-fluid {
    border-style:solid;
    border-color: #343a40 #343a40 #343a40;
    border-width: 10px;
}

.nav-pills .nav-link {
    color: #343a40;
    background-color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #343a40;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #343a40;
    background-color: #fff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40 #343a40 #343a40;
}

.page-link {
    color: black;
    background-color: white;
    border-color: white;
}

.page-link:hover {
    color: black;
    text-decoration: underline;
    background-color: white;
    border-color: white;
    box-shadow: 0 0 0 0.2rem rgba(0, 77, 243, 0.5);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: black;
    border-color: black;
}

.mdi-close:before {
    content: "\e5cd"; 
    color: red;
}

.mdi-check:before {
    content: "\e5ca"; 
    color: green;
}

.mdi-remove-shopping-cart:before {
    content: "\e928"; 
    color: orange;
}

.similar_item{
    background-color: #343a40;
}

.similar_item_a{
    color: #219c9c
}

.similar_item_price{
    color: #aeffb9;
}

.similar_item_shipping{
    color: #ffc107;
}

.similar_item_days{
    color: white;
}

/* .similar_item_image{
    width: 90%;
    height: 90%;
} */

.carousel-item{
    border-style:solid;
    border-color: #343a40 #343a40 #343a40;
    border-width: 10px;
}

.slide_right{
    transition: all linear 0.3s;
    position: relative;
    top: 0;
    left: 0;
}

.slide_right.ng-hide {
    /* position: relative; */
    left: 200%;
    background-color: transparent;
}

.slide_left{
    transition: all linear 0.3s;
    position: relative;
    top: 0;
    left: 0;
}

.slide_left.ng-hide {
    /* position: relative; */
    left: -100%;
    background-color: transparent;
}
