<!DOCTYPE html> 
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-material-design-icons/css/material-icons.css">
    <link rel="shortcut icon" href="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script> -->
</head>

<body> 
<div class="container" ng-app="app" ng-controller="ctrlmaster" ng-init="init()">
    <!--
        use bootstrap to layout UI
    -->

    <!--
        search form, using Bootstrap form
        1. form: http://www.runoob.com/angularjs/angularjs-forms.html
        2. validation: http://www.runoob.com/angularjs/angularjs-validation.html

          --gray-dark: #343a40;???
          circle-corner???
    -->
    <div class="row" id="row_form">
        <div class="col"></div>
        <div class="col-8">
            <form ng-submit="search_keyword()" method="GET" id="search_form" class="needs-validation" novalidate>
                <div class="row mb-3"><div id="search_form_title">Product Search</div></div>
                <div class="form-group row">
                    <label for="keyword_input" class="col-sm-3 col-form-label">Keyword<span style="color: red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control" ng-model="form_keyword" id="keyword_input" placeholder="Enter Product Name(eg. iPhone 8)" required>
                        <div class="invalid-feedback">
                            Please enter a keyword.
                        </div>
                        <div class="valid-feedback">
                            Please enter a keyword.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category_input" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="form_category" id="category_input">
                            <option value="all">All Categories</option>
                            <option value="art">Art</option>
                            <option value="baby">Baby</option>
                            <option value="books">Books</option>
                            <option value="clothings">Clothings, Shoes & Accessories</option>
                            <option value="computers">Computers/Tablets & Networking</option>
                            <option value="health">Health & Beauty</option>
                            <option value="music">Music</option>
                            <option value="video">Video Games & Consoles</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="condition_input" class="col-sm-3 col-form-label">Condition</label>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-model="form_condition_new" type="checkbox" id="condition_input_new" value="new">
                            <label class="form-check-label" for="condition_input_new">New</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-model="form_condition_used" type="checkbox" id="condition_input_used" value="used">
                            <label class="form-check-label" for="condition_input_used">Used</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-model="form_condition_unspecified" type="checkbox" id="condition_input_unspecified" value="unspecified">
                            <label class="form-check-label" for="condition_input_unspecified">Unspecified</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shipping_options_input" class="col-sm-3 col-form-label">Shipping Options</label>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-model="form_shipping_local" type="checkbox" id="shipping_options_input_local" value="local">
                            <label class="form-check-label" for="shipping_options_input_local">Local Pickup</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-model="form_shipping_free" type="checkbox" id="shipping_options_input_free" value="free">
                            <label class="form-check-label" for="shipping_options_input_free">Free Shipping</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="distance_input" class="col-sm-3 col-form-label">Distance (Miles)</label>
                    <div class="col-sm-4">
                        <input class="form-control" ng-model="form_distance" id="distance_input" placeholder="10">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0">From<span style="color: red">*</span></legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" ng-model="form_from" name="from_buttons" id="from_location" value="location" checked>
                                <label class="form-check-label" for="from_location">Current Location</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" ng-model="form_from" name="from_buttons" id="from_zipcode" value="zipcode">
                                <label class="form-check-label" for="from_zipcode">Other. Please specify zip code:</label>
                            </div>
                            <div>
                                <input class="form-control" ng-model="form_zipcode" id="zipcode_input" placeholder="">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-light"><i class="mdi mdi-search"></i>Search</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" ng-click="init()" class="btn btn-light"><i class="mdi mdi-clear-all"></i>Clear</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
    
    <!-- <div class="row mt-4 justify-content-center" id="result_tab"> -->
    <div class="row mt-4 d-flex justify-content-center" id="result_tab">
        <div class="col-md-3 offset-md-1">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-results-tab" data-toggle="pill" href="#pills-results" role="tab" aria-controls="pills-home" aria-selected="true">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-wishlist-tab" data-toggle="pill" href="#pills-wishlist" role="tab" aria-controls="pills-profile" aria-selected="false">Wish List</a>
                </li>
            </ul>
        </div>
    </div>

    <!--
        progress bar
        https://getbootstrap.com/docs/4.0/components/progress/
    -->
    <div class="row mt-4">
        <div class="col-12 ">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
        </div>
    </div>

    <!--
        error message
        use bootstrap component
        https://getbootstrap.com/docs/4.0/components/alerts/

        length seems a little bit long???
    -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                This is a warning alert—check it out!
            </div>
        </div>
    </div>
    
    <!--
        search result
        1. result table: using ng-repeat
        2. button and input could use ng-disabled, ng-show, ng-hide
        3. event: use ng-click
        4. animation: http://www.runoob.com/angularjs/angularjs-animations.html
    -->
    <div class="row mt-4 tab-content" id="pills-tabContent">
        <div class="col-12 tab-pane fade show active" id="pills-results" role="tabpanel" aria-labelledby="pills-results-tab">
            <table id="result_table" class="table table-striped table-dark" data-pagination="true" data-page-size="10" data-id-field="index">
                <thead>
                    <tr>
                        <!--
                            https://github.com/wenzhixin/bootstrap-table
                        -->
                    <!-- <th scope="col" data-field="index">#</th>
                    <th scope="col" data-field="image" data-formatter="image_formatter">Image</th>
                    <th scope="col" data-field="title">Title</th>
                    <th scope="col" data-field="price">Price</th>
                    <th scope="col" data-field="shipping">Shipping</th>
                    <th scope="col" data-field="zip">Zip</th>
                    <th scope="col" data-field="seller">Seller</th>
                    <th scope="col" data-formatter="wishlist_formatter">Wish List</th> -->
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Shipping</th>
                    <th scope="col">Zip</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Wish List</th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                        control for loop using pagination index
                    -->
                    <!-- 
                            it seems that image should be a square by force
                            and I need to control whether render table or not,
                            cause brower will fetch image from my server 
                        -->
                    <tr ng-repeat="item in curpage_list">
                        <th scope="row">{{item.index}}</th>
                        <td><img ng-src='{{item.image}}'></td>
                        <td><a title="{{item.tooltip}}" data-placement="bottom" data-toggle="tooltip" href="" ng-click="show_item_detail(item.id); search_similar(item.id); search_photos(item.title);">{{item.title}}</a></td>
                        <td>{{item.price}}</td>
                        <td>{{item.shipping}}</td>
                        <td>{{item.zip}}</td>
                        <td>{{item.seller}}</td>
                        <td><button type="button" class="btn btn-light"><i class="mdi mdi-add-shopping-cart mdi-2x"></i></button></td>
                    </tr>

                </tbody>
            </table>
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item" ng-class="{disabled: page_curnum == 1}">
                        <button class="page-link" ng-click="update_result_page(page_curnum-1)">Previous</button>
                    </li>
                    <li class="page-item" ng-class="{active: page_curnum == i}" ng-repeat="i in page_range">
                        <button class="page-link" ng-click="update_result_page(i)">{{i}}</button>
                    </li>
                    <li class="page-item" ng-class="{disabled: page_curnum == page_number}">
                        <button class="page-link" ng-click="update_result_page(page_curnum+1)">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane fade" id="pills-wishlist" role="tabpanel" aria-labelledby="pills-wishlist-tab">
            bbb
        </div>
    </div>

    <div id="item_detail">
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center" id="item_detail_title">
                {{item_detail.title}}
            </div>
        </div>
        <div class="row mt-4 d-flex">
            
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs d-flex justify-content-end" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab" aria-controls="nav-product" aria-selected="true">Product</a>
                        <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</a>
                        <a class="nav-item nav-link" id="nav-shipping-tab" data-toggle="tab" href="#nav-shipping" role="tab" aria-controls="nav-shipping" aria-selected="false">Shipping</a>
                        <a class="nav-item nav-link" id="nav-seller-tab" data-toggle="tab" href="#nav-seller" role="tab" aria-controls="nav-seller" aria-selected="false">Seller</a>
                        <a class="nav-item nav-link" id="nav-similar-tab" data-toggle="tab" href="#nav-similar" role="tab" aria-controls="nav-similar" aria-selected="false">Similar Products</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
                        <table id="item_detail_product_table" class="table table-striped table-dark" data-pagination="true" data-page-size="10" data-id-field="index">
                            <tbody>
                                <tr>
                                    <td>Product Images</td>
                                    <td><a href="">View Product Images Here</a></td>
                                </tr>
                                <tr>
                                    <td>Subtitle</td>
                                    <td>{{item_detail_product.subtitle}}</td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td>{{item_detail_product.price}}</td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td>{{item_detail_product.location}}</td>
                                </tr>
                                <tr>
                                    <td>Return Policy</td>
                                    <td>{{item_detail_product.returnpolicy}}</td>
                                </tr>
                                <tr ng-repeat="obj in item_detail_product.specifics">
                                    <td>{{obj.Name}}</td>
                                    <td>{{obj.Value[0]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
                        <div class="row gallery">
                            <div class="col-4">
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[0]}}" alt="Card image cap">
                                </div>
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[3]}}" alt="Card image cap">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[1]}}" alt="Card image cap">
                                </div>
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[4]}}" alt="Card image cap">
                                </div>
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[6]}}" alt="Card image cap">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[2]}}" alt="Card image cap">
                                </div>
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[5]}}" alt="Card image cap">
                                </div>
                                <div class="mt-3">
                                    <img class="img-fluid" ng-src="{{item_detail_photos[7]}}" alt="Card image cap">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-shipping" role="tabpanel" aria-labelledby="nav-shipping-tab">
                        <table id="item_detail_shipping_table" class="table table-striped table-dark" data-pagination="true" data-page-size="10" data-id-field="index">
                            <tbody>
                                <tr>
                                    <td>Shipping Cost</td>
                                    <td>{{item_detail_shipping..cost}}</td>
                                </tr>
                                <tr>
                                    <td>Shipping Locations</td>
                                    <td>{{item_detail_shipping.location}}</td>
                                </tr>
                                <tr>
                                    <td>Handling Time</td>
                                    <td>{{item_detail_shipping.handle_time}}</td>
                                </tr>
                                <tr>
                                    <td>Expedited Shipping</td>
                                    <td>
                                        <i class="mdi mdi-close mdi-2x" ng-hide="(item_detail_shipping.expedited === 'true')"></i>
                                        <i class="mdi mdi-check mdi-2x" ng-hide="(item_detail_shipping.expedited === 'false')"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>One Day Shipping</td>
                                    <td>
                                        <i class="mdi mdi-close mdi-2x" ng-hide="(item_detail_shipping.oneday === 'true')"></i>
                                        <i class="mdi mdi-check mdi-2x" ng-hide="(item_detail_shipping.oneday === 'false')"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Return Accepted</td>
                                    <td>
                                        <i class="mdi mdi-close mdi-2x" ng-hide="(item_detail_shipping.return === 'true')"></i>
                                        <i class="mdi mdi-check mdi-2x" ng-hide="(item_detail_shipping.return === 'false')"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-seller" role="tabpanel" aria-labelledby="nav-seller-tab">
                        <table id="item_detail_seller_table" class="table table-striped table-dark" data-pagination="true" data-page-size="10" data-id-field="index">
                            <tbody>
                                <tr>
                                    <th colspan="2"><b class="d-flex justify-content-center">{{item_detail_seller.title}}</b></th>
                                </tr>
                                <tr>
                                    <td>Feedback Score</td>
                                    <td>{{item_detail_seller.feedback}}</td>
                                </tr>
                                <tr>
                                    <td>Popularity</td>
                                    <td><round-progress></round-progress> {{item_detail_seller.popularity}}</td>
                                </tr>
                                <tr>
                                    <td>Feedback Rating Star</td>
                                    <td>
                                        <i class="mdi mdi-star-border mdi-2x" style="color:{{item_detail_seller.rating}}"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Top Rated</td>
                                    <td>
                                        <i class="mdi mdi-close mdi-2x" ng-show="(item_detail_seller.toprated === false)"></i>
                                        <i class="mdi mdi-check mdi-2x" ng-show="(item_detail_seller.toprated === true)"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Store Name</td>
                                    <td>
                                        {{item_detail_seller.store}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Buy Product At</td>
                                    <td>
                                        <a href="{{item_detail_seller.at}}">Store</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-similar" role="tabpanel" aria-labelledby="nav-similar-tab">
                        eeeeeeeeeeeee
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body> 
</html>